<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Play Me | Play Multiplayer Games with Friends</title>
  <meta name="description" content="Playme.io">
  <meta name="author" content="Andy Yu">

  <!-- Styles -->
  <%= stylesheet_link_tag "home" %>
  <%= stylesheet_link_tag "normalize" %>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>
<body>
  <div class="container">
    <section class="content">
      <h1>Lobby <span style= "color:#3399FF"><%= @lobby.name %></span> </h1>
      <div class="games">
          <div class="imgContainer">
            <%= image_tag 'chess.png', :class => "game-icons" %>
              <p>Chess</p>
          </div>
          <div class="imgContainer">
            <%= image_tag 'basketball.png', :class => "game-icons" %>
              <p>Basketball</p>
          </div>
          <div class="imgContainer">
            <%= image_tag 'tank.png', :class => "game-icons" %>
              <p>Tanks</p>
          </div>
          <div class="imgContainer">
            <%= image_tag 'palette.png', :class => "game-icons" %>
              <p>Pictionary</p>
          </div>
      </div>
      <div>
        <% if session_activated? %>
        <p>Me: <%= current_session.username %></p>
        <% end %>
        <p> Other users:</p>
          <% @lobby.sessions.each do |session| %>
            <% if session != @current_session %>
            <p><%= session.username %></p>
            <% end %>
          <% end %>
          <span align="center">Invite anyone by sharing this link: <input id="roomLink" type="text" onclick="this.select()"/></span>
      </div>
    </section>
  </div>
  <%= javascript_include_tag "http://localhost:3000/faye.js" %>
  <script type="text/javascript">
    document.getElementById("roomLink").value = document.location.href;
    var client = new Faye.Client('http://localhost:3000/faye');
    client.publish('/0001', {
      msg: "ayy"
    });
    client.subscribe('/0001', function(data){
      console.log(data);
    })
  </script>
</body>
</html>
