<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Play Me | Play Multiplayer Games with Friends</title>
  <meta name="description" content="Playme.io">
  <meta name="author" content="Andy Yu">

  <!-- Styles -->
  <%= stylesheet_link_tag "home" %>
  <%= stylesheet_link_tag "normalize" %>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
  <div class="headContainer">
      <div class="lobbyInfo">
        <h1>Lobby <span style= "color:#3399FF"><%= @lobby.name %></span> </h1>
        <div id="inviteLink">
          <span align="center">Invite anyone by sharing this link:</span>
          <div style="margin-top:10px;"> <input id="roomLink" type="text" onclick="this.select()" /></div>
        </div>
      </div>
      <div class = "users userbox">
        <div class="changeName">
          <form id = "my_name">
            <input id="name" type="text" name="name" placeholder="Your Name" />
          </form>
          <button id="readyButton" class="readyButton" value="ready"> Ready? </button>

        </div>
        <div class="otherUsers twocolumns">
          <ul id="others">
          </ul>
        </div>
      </div>
  </div>
  <div class="container" style="display:none">
    <section class="content">
      <div class="games">
          <div class="imgContainer">
            <%= image_tag 'chess.png', :class => "game-icons" %>
              <p>Chess</p>
          </div>
          <div class="imgContainer">
            <%= image_tag 'basketball.png', :class => "game-icons" %>
              <p>Basketball</p>
          </div>
          <div class="imgContainer">
            <%= image_tag 'tank.png', :class => "game-icons" %>
              <p>Tanks</p>
          </div>
          <div class="imgContainer">
            <%= image_tag 'palette.png', :class => "game-icons" %>
              <p>Pictionary</p>
          </div>
      </div>
        <% if session_activated? %>
        <p>Me: <%= current_session.username %></p>
        <% end %>
        <p> Other users:</p>
          <% @lobby.sessions.each do |session| %>
            <% if session != @current_session %>
            <p><%= session.username %></p>
            <% end %>
          <% end %>
      </div>
    </section>
  </div>
  <canvas id="gameCanvas" width="720" height="480"></canvas>
  <div class="chat_room">
    <div class="chat_header">
      <h1> Chat </h1>
    </div>

    <div id="chat_box">
      <p class="message"> Welcome to the chat room <%= @lobby.name %>! </p>
    </div>

    <form id="message_form">
      <input id="message_box" type="text" name="message">
      <input id="send_button" type="submit" value="Send">
    </form>
  </div>
  <script type="text/javascript" src="/faye.js"></script>
  <script type="text/javascript">
    document.getElementById("roomLink").value = document.location.href + "/join"; // automatically adds lobby url to text box
    // lobby meta data

    var CROWN_IMG_URL = "<%= asset_path 'crown.png'%>";
    var CHECK_IMG_URL = "<%= asset_path 'checkmark.png'%>";
    var NOCHECK_IMG_URL = "<%= asset_path 'redx.png'%>";
    var client = new Faye.Client('/faye');
    var players = JSON.parse('<%= players_json.html_safe %>');
    var data = {"lobbyName": "<%= @lobby.name %>", "leaderId": <%= @lobby.leader_id %>, "players": players, "userId": <%= current_session.id %>,
                "username": "<%= current_session.username %>", "playerIndex": <%= current_session.player_index %>};
    var meta = new Meta(client, data);

    // chat
    var lobbyChat = new Chat(meta,  client);

    //game
    var canvas = document.getElementById("gameCanvas");
    var ctx = canvas.getContext("2d");

  </script>
</body>
</html>
